{% load i18n %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% trans 'Awecounting' %}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{% trans 'Purchases' %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'purchase-create' %}">{% trans 'New Purchase' %}</a></li>
                        <li><a href="{% url 'purchase-list' %}">{% trans 'List Purchases' %}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{% trans 'Sales' %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'sale-create' %}">{% trans 'New Sale' %}</a></li>
                        <li><a href="{% url 'sale-list' %}">{% trans 'List Sales' %}</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'list_inventory_accounts' %}">{% trans 'Inventory Accounts' %}</a></li>
                {% if request.is_owner %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{% trans 'Users' %}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'users:user_list' %}">{% trans 'List Users' %}</a></li>
                            <li><a href="{% url 'users:user_add' %}">{% trans 'Add User' %}</a></li>
                            <li><a href="{% url 'users:roles' %}">{% trans 'User Roles' %}</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{% trans 'Shares' %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'share:shareholder_list' %}">{% trans 'List Shareholders' %}</a></li>
                        <li><a href="{% url 'share:shareholder_add' %}">{% trans 'Add Shareholder' %}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'share:collection_list' %}">{% trans 'List Collections' %}</a></li>
                        <li><a href="{% url 'share:collection_add' %}">{% trans 'Add Collection' %}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'share:investment_list' %}">{% trans 'List Investments' %}</a></li>
                        <li><a href="{% url 'share:investment_add' %}">{% trans 'Add Investment' %}</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{% include '_change_language.html' %}</li>
                <li>&nbsp;&nbsp;</li>
                <li>{% include '_change_calendar.html' %}</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">

                        {% if request.user.is_authenticated %}
                            <strong>{% firstof user.get_short_name user.get_username %}</strong>
                        {% else %}
                            <strong>{% trans 'Guest' %}</strong>
                        {% endif %}


                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {#                        <li><a href="#">Action</a></li>#}
                        {#                        <li role="separator" class="divider"></li>#}
                        {% if request.role %}
                            <li>
                                <a href="#">{% trans 'Using as' %} {{ request.role.group }} {% trans 'at' %} {{ request.company }}</a>
                            </li>
                            <li role="separator" class="divider"></li>
                        {% endif %}

                        {% for role in request.user.roles.all %}
                            {% if role.id != request.role.id %}
                                <li>
                                    <a href="{% url 'users:set_role' role.id %}">{% trans 'Use as' %} {{ role.group }} {% trans 'at' %} {{ role.company }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if request.user.roles.all.count > 1 %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li><a href="{% url 'users:company_setting' request.company.id %}">{% trans "Company Setting" %}</a></li>

                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'users:logout' %}">{% trans 'Log out' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'users:login' %}">{% trans 'Login' %}</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>