{% extends "_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Item Categories' %}{% endblock %}

{% block header-buttons %}
    <a class="btn btn-success btn-raised" href="{% url 'item_category_add' %}">{% trans 'New' %} {% trans 'Item' %} {% trans 'Category' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    <div class='well'>

        {% autosort object_list as sorted_objects %}
        {% autopaginate sorted_objects 25 as paginated_objects %}

        <table class="table table-striped">
            <thead>
            <th>{% anchor name _('Name') %}</th>
            <th>{% anchor description _('Description') %}</th>
            </thead>
            <tbody>
            {% for item_category in paginated_objects %}
                <tr>
                    <td class="link">
                        <a href="{% url 'item_category_edit' item_category.pk %}">{{ item_category.name }}</a>
                    </td>
                    <td>
                        {{ item_category.description }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% paginate %}

    </div>



{% endblock %}