{% extends "_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Item Categories' %}{% endblock %}

{% block header-buttons %}
    <a class="btn btn-success btn-raised" href="{% url 'item_category_add' %}">{% trans 'New' %} {% trans 'Item' %} {% trans 'Category' %}</a>
{% endblock %}

{% block content %}
    {% load mptt_tags %}

    <div class="well">

        <ul class="list-group">
            {% recursetree object_list %}
                <li class="list-group-item link">
                    <a {% if not node.default %}href="{% url 'category_edit' node.id %}"{% else %}class="text-color-black"{% endif %}>
                        {{ node.name }}
                        {% if request.company.has_branches %}
                            [{{ node.company }}]
                        {% endif %}
                    </a>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>

{% endblock %}