{% extends "_base.html" %}
{% load i18n staticfiles filters %}

{% block page-title %}{% trans 'Location' %}{% endblock %}

{% block header-buttons %}
    <a class="btn btn-success btn-raised" href="{% url 'location_add' %}">{% trans 'New' %} {% trans 'Location' %}</a>
{% endblock %}

{% block content %}
    <div class="well">

        {% load pagination_tags %}
        {% load sorting_tags %}
        {% load filters %}

        {% autosort object_list as sorted_objects %}
        {% autopaginate sorted_objects 25 as paginated_objects %}

        <table class="table table-striped">
            <thead>
            <th>{% anchor code _('Code') %}</th>
            <th>{% anchor name _('Name') %}</th>
            <th>{% anchor enabled _('Is Enabled') %}</th>
            <th>Details</th>
            </thead>
            <tbody>
            {% for location in paginated_objects %}
                <tr>
                    <td>
                        <a href="{% url 'location_edit' location.pk %}">{{ location.code}}</a>
                    </td>
                    <td>
                        <a href="{% url 'location_edit' location.pk %}">{{ location.name }}</a>
                    </td>
                    <td>
                        {{ location.enabled}}
                    </td>
                    <td>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-bind="attr: { id: 'location_{{ location.pk }}' }">
                            Details
                            <span class="caret"></span>
                          </button>
                          <div class="dropdown-menu"  data-bind="attr: { 'aria-labelledby': 'location_{{ location.pk }}' }">
                              <table class="table table-striped">
                                  <tr>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                  </tr>
                                  {% for loc_detail in location.contains.all %}
                                    <tr>
                                        <td>{{ loc_detail.item }}</td>
                                        <td>{{ loc_detail.qty }}</td>
                                    </tr>
                                  {% endfor %}

                               </table>
                          </div>
                        </div>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% paginate %}

    </div>

{% endblock %}