{% extends base_template %}
{% load i18n %}

{% block page-title %}{{ scenario }} {{ form.instance.base_unit.name }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'unitconverter_list' %}">{% trans 'Unit' %}{% trans 'Converter' %}</a></li>
    <li>{{ scenario }} {{ form.instance.base_unit.name }}</li>
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.as_p }}

        <input type="submit" class='btn btn-default' value="{% trans 'Save' %}">

        {% if form.instance.id %}
            <a href="{% url 'unitconverter_delete' form.instance.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
        {% endif %}
    </form>

{% endblock %}
