{% extends "_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Unit' %} {% trans 'Converter' %}{% endblock %}

{% block content %}
<div class='container'>
    <div class="row">

            {% load pagination_tags %}
            {% load sorting_tags %}
            {% load filters %}

            {% autosort object_list as sorted_objects %}
            {% autopaginate sorted_objects 25 as paginated_objects %}

            <table class="table table-striped table-bordered">
                <thead>
                <th>{% anchor base_unit _('Base Unit') %}</th>
                <th>{% anchor unit_to_convert _('Unit to convert') %}</th>
                <th>{% trans _('Multiple') %}</th>

                </thead>
                <tbody>
                {% for unitconverter in paginated_objects %}
                    <tr>
                        <td>
                            <a href="{% url 'unitconverter_edit' unitconverter.pk %}">{{ unitconverter.base_unit }}</a>
                        </td>
                        <td>
                            {{ unitconverter.unit_to_convert }}
                        </td>
                        <td>
                            {{ unitconverter.multiple }}
                        </td>                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% paginate %}


        <a class="btn btn-default"
               href="{% url 'unitconverter_add' %}">{% trans 'New' %} {% trans 'Unit' %} {% trans 'Converter' %}</a>

    </div>
</div>
{% endblock %}