{% extends "_base.html" %}
{% load i18n staticfiles filters %}

{% block page-title %}{{ obj.name }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'list_inventory_accounts' %}">{% trans 'Inventory Accounts' %}</a></li>
    <li>{{ obj.name }}</li>
{% endblock %}

{% block content %}

    <div class="well">
        {% trans 'Unit' %} : {{ unit }}

        {% if unit_conversions %}
            <form method="POST" class="form-inline">
                {% csrf_token %}
                <label for="unit-convert">{% trans 'Convert to' %}:</label>
                <select name="unit_id" id="unit-convert" class="form-control">
                    {% for conversion in unit_conversions %}
                        {% if unit.id == conversion.unit_to_convert.id %}
                            <option value="{{ conversion.base_unit.id }}">{{ conversion.base_unit.name }}</option>
                        {% else %}
                            <option value="{{ conversion.unit_to_convert.id }}">{{ conversion.unit_to_convert.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-info btn-raised" value="{% trans 'Convert' %}">
            </form>
        {% endif %}
    </div>

    <div class="well">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Voucher' %}</th>
                <th>{% trans 'In' %}</th>
                <th>{% trans 'Out' %}</th>
                <th>{% trans 'Current Balance' %}</th>

            </tr>
            {#        <tr>#}
            {#            <th>{% trans "Quantity" %}</th>#}
            {#            <th>{% trans "Rate" %}</th>#}
            {#            <th>{% trans "Total" %}</th>#}
            {#            <th>{% trans "Quantity" %}</th>#}
            {#            <th>{% trans "Rate" %}</th>#}
            {#            <th>{% trans "Total" %}</th>#}
            {##}
            {#        </tr>#}
            </thead>
            <tbody data-bind="with: table_vm">
            {% load pagination_tags %}
            {% load sorting_tags %}
            {% load filters %}

            {% autosort entries as sorted_objects %}
            {% autopaginate sorted_objects 25 as paginated_objects %}
            {% for entry in paginated_objects %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td><a href="{{ entry.creator.get_absolute_url }}">{{ entry.creator.voucher_type }} #{{ entry.creator.get_voucher_no }}</a></td>
                    {% for transaction in entry.transactions.all %}


                        <td>
                            {% multiply transaction.dr_amount multiple %}
                        </td>
                        <td>

                            {% multiply transaction.cr_amount multiple %}
                        </td>
                        <td>
                            {{ transaction.current_balance }}
                        </td>

                    {% endfor %}
                </tr>
            {% endfor %}
            {#        <!-- ko foreach:rows -->#}
            {#        <tr>#}
            {#            <td data-bind="text: date(), localize: 1"></td>#}
            {#            <td><a data-bind="attr: {'href': voucher_url()}, text: voucher_no()"></a></td>#}
            {#            <td data-bind="text: income_quantity(), localize: 1"></td>#}
            {#            <td data-bind="text: income_rate(), localize: 1"></td>#}
            {#            <td data-bind="text: income_total(), localize: 1"></td>#}
            {##}
            {#            <td data-bind="text: expense_quantity(), localize: 1"></td>#}
            {#            <td data-bind="text: expense_rate(), localize: 1"></td>#}
            {#            <td data-bind="text: expense_total(), localize: 1"></td>#}
            {##}
            {#            <td data-bind="text: current_balance(), localize: 1"></td>#}
            {#            <td data-bind="visible:expense_flag">(<span data-bind="text:e1">a</span>:<span data-bind="text:r1">a</span>) (<span data-bind="text:e2">a</span>:<span data-bind="text:r2">a</span>)</td>#}
            {##}
            {#        </tr>#}
            {#        <!-- /ko -->#}
            </tbody>
        </table>

    </div>

    {% paginate %}

    {% if obj.item %}
        <a class="btn btn-info btn-raised"
           href="{% url 'view_inventory_account_with_rate' obj.id %}">{% trans 'View' %} {% trans 'with' %} {% trans 'Rate' %}</a>
    {% endif %}

{% endblock %}