{% extends "index.html" %}
{% load staticfiles i18n %}
{% load filters %}

{% block title %}
    {% trans 'Item Search' %}
{% endblock %}

{% block content %}
    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    {% autosort objects as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}
    <div class="well">
        <table class="table table-striped">
            <thead>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Other Properties' %}</th>

            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr>
                    <td class="link">
                        {% if item.account %}
                            <a href="{% url 'view_inventory_account' item.account.id %}">{{ item.id }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ item.name }}
                        {% if item.company != request.company %}
                            (<b>{{ item.company }}</b>)
                        {% endif %}
                    </td>
                    <td>
                        {{ item.other_properties |default:'' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

{% endblock %}