{% extends "_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Purchases' %}{% endblock %}

{% block content %}
    <div class='container'>
        <div class="row">

            {% load pagination_tags %}
            {% load sorting_tags %}
            {% load filters %}

            {% autosort objects as sorted_objects %}
            {% autopaginate sorted_objects 25 as paginated_objects %}

            <table class="table table-striped table-bordered">
                <thead>
                <th>{% anchor voucher_no _('Voucher ID') %}</th>
                <th>{% anchor date _('Date') %}</th>
                </thead>
                <tbody>
                {% for purchase in paginated_objects %}
                    <tr>
                        <td>
                            <a href="{% url 'purchase-detail' purchase.pk %}">{{ purchase.voucher_no }}</a>
                        </td>
                        <td>
                            {{ purchase.date }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% paginate %}


            <a class="btn btn-default btn-lg"
               href="{% url 'purchase-create' %}">{% trans 'New' %} {% trans 'Purchase' %}</a>

        </div>
    </div>
{% endblock %}