{% extends '_base.html' %}
{% load i18n filters %}

{% block page-title %}{% trans 'Accessible Companies' %}{% endblock %}

{% block header-buttons %}
    <a href="{% url 'users:add_user_with_pin' %}" class="btn btn-success btn-raised user-add-btn">{% trans 'Connect Company' %}</a>
{% endblock %}

{% block content %}

   
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="well">
                <table class="table table-striped">
                    <thead>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Business Type' %}</th>
                        <th>{% trans 'Registrations Number' %}</th>
                        <th>{% trans 'Related Party' %}</th>
                    </thead>
                    <tbody>
                        {% for company in object_list %}
                        <tr>
                            <td>
                                {{ company.name }}
                            </td>
                            <td>
                                {{ company.type_of_business |default:'' }}
                            </td>
                            <td>
                                {{ company.tax_registration_number |default:'' }}
                            </td>
                            <td>
                                {% get_related_party company as related_party %}
                                {% if related_party %}
                                    <a href="{% url 'party_edit' related_party.first.id %}">{{ related_party.first }}</a>
                                {% else %}
                                    <a href="{% url 'users:party_for_company' company.id %}" class="btn btn-success btn-raised add-party">{% trans "Connect Party" %}</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>



{% endblock %}