{% extends '_base.html' %}
{% load i18n %}

{% block title %}{% trans "Branch" %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'users:branch_list' %}">{% trans 'Branch' %}</a></li>
    <li>{% trans 'Create Branch' %}</li>
{% endblock %}

{% block page-header %}{% trans "Branch" %}{% endblock %}
{% block content %}
    <form method="POST">
        <div class="well">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <p>
                {{ form.name.label }}
                {{ form.name }}
            </p>
{#            <p>#}
{#                {{ form.party.label }}#}
{#                {{ form.party }}#}
{#            </p>#}

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        {{ form.is_party }} {{ form.is_party.label }}
                    </label>
                </div>
                <p class="help-block">{% trans 'Create Party.' %}</p>
            </div>
        </div>

        <input type="submit" class='btn btn-info btn-raised' value="{% trans 'Save' %}">
        {% if form.instance.id %}
            <a class="btn btn-danger btn-raised" href="{% url 'users:branch_delete' form.instance.id %}">{% trans 'Delete!' %}</a>
        {% endif %}

    </form>

{% endblock %}