{% extends base_template %}
{% load i18n %}

{% block title %}{{ scenario }} {{ form.instance }}{% endblock %}

{% block breadcrumbs %}
    <li>{% trans 'Settings' %}</li>
{% endblock %}

{% block page-header %}
<ul class="nav nav-pills">
  <li class="active"><a href="{% url 'users:company_setting' %}">{% trans "Company Setting" %}</a></li>
  <li><a href="{% url 'voucher_setting' %}">{% trans "Voucher Setting" %}</a></li>
  </li>
</ul>

{% endblock %}

{% block content %}

    <form method="POST">
        <div class="well">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}
        </div>
        <input type="submit" class='btn btn-info btn-raised' value="{% trans 'Save' %}">
    </form>

{% endblock %}