{% extends '_base.html' %}
{% load i18n %}

{% block page-title %}{% trans 'Users' %}{% endblock %}

{% block header-buttons %}
    <a href="{% url 'users:user_add' %}" class="btn btn-success btn-raised user-add-btn">{% trans 'Add User' %}</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            {% load pagination_tags %}
            {% load sorting_tags %}

            {% autosort object_list as sorted_objects %}
            {% autopaginate sorted_objects 25 as paginated_objects %}
            <div class="well">
                <table class="table table-striped">
                    <thead>
                        <th>{% anchor username _('Username') %}</th>
                        <th>{% trans 'Email address' %}</th>
                        <th>{% anchor full_name _('Full name') %}</th>
                        <th>{% anchor date_joined _('Date joined') %}</th>
                    </thead>
                    <tbody>
                        {% for user in sorted_objects %}
                        <tr>
                            <td>
                                <a href="{% url 'users:user_edit' user.id %}">{{ user.username }}</a>
                            </td>
                            <td>
                                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                            </td>
                            <td>
                                <a href="{% url 'users:user_edit' user.id %}">{{ user.full_name }}</a>
                            </td>
                            <td>
                                <a href="{% url 'users:user_edit' user.id %}">{{ user.date_joined }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% paginate %}

        </div>
    </div>


{% endblock %}