{% extends '_base.html' %}
{% load i18n filters %}

{% block page-title %}{% trans 'Bank Accounts' %}{% endblock %}

{% block header-buttons %}
    <a href="{% url 'bank:bankaccount_add' %}" class="btn btn-success btn-raised">{% trans 'Add' %} {% trans 'Account' %}</a>
{% endblock %}

{% block breadcrumbs %}
    <li>{% trans 'Bank' %}</li>
    <li><a href="{% url 'bank:bankaccount_list' %}"></a>{% trans 'Bank Accounts' %}</li>
{% endblock %}

{% block content %}

            {% load pagination_tags %}
            {% load sorting_tags %}

            {% autosort object_list as sorted_objects %}
            {% autopaginate sorted_objects 25 as paginated_objects %}
            <div class="well">
            <table class="table table-striped ">
                <thead>
                <th>{% anchor name _('Bank Name') %}</th>
                <th>{% anchor ac_no _('Account Number') %}</th>
                <th>{% anchor branch_name _('Branch Name') %}</th>
                <th>{% trans 'Account' %}</th>
                </thead>
                <tbody>
                {% for object in sorted_objects %}
                    <tr>
                        <td class="link">
                            <a href="{% url 'bank:bankaccount_edit' object.pk %}">{{ object.bank_name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'bank:bankaccount_edit' object.pk %}">{{ object.ac_no }}</a>
                        </td>
                        <td>
                            <a href="{% url 'bank:bankaccount_edit' object.pk %}">{{ object.branch_name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'bank:bankaccount_edit' object.pk %}">{{ object.account.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>

            {% paginate %}



{% endblock %}