{% extends base_template %}
{% load i18n %}

{% block page-title %}{{ scenario }} {{ form.instance }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'bank:bankaccount_list' %}">{% trans 'Bank Accounts' %}</a></li>
    <li>{{ scenario }} {{ form.instance }}</li>
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="well">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {{ form.as_p }}
        </div>
        <input type="submit" class='btn btn-info btn-raised' value="{% trans 'Save' %}">

        {% if form.instance.id %}
            <a href="{% url 'bank:bankaccount_delete' form.instance.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
        {% endif %}
    </form>

{% endblock %}