body {
    line-height: 1.3;
    cursor: auto;
}

select, input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
    width: auto;
}

.row {
    max-width: none;
}

th, td {
    line-height: 1;
}

h1 {
    font-size: 2em;
    line-height: 1.2125em;
}

.left-sidebar {
    /*position: fixed;*/
    background-color: #ffffff;
    /*z-index: 10000;*/
}

.main-content {
    border-left: 1px solid #DDDDDD;
}

.table-bordered {
    width: 100%;
}

.table-bordered th, .table-bordered td {
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

.widget-box {
    display: none;
}

.breadcrumbs {
    margin: 0 1em 1em 1em;
}

.errorlist {
    color: red;
}

td .select2-choice {
    border: none !important;
    box-shadow: none;
}

td .select2-container {
    width: 100%
}

.inline-fields input {
    display: inline;
    margin: 0;
}

.inline-fields div {
    padding-bottom: 1em;
}

.invalid-row td {
    background: #FBE3E4 !important;
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.center, .centre {
    text-align: center;
}

.appended-link {
    background: none repeat scroll 0 0 #D0D0D0;
    color: #000000;
    display: block;
    margin: 4px auto;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

.dont-validate td {
    background: transparent !important;
}

.clear {
    clear: both;
}

tbody > tr > td[contenteditable="true"] {
    /*border: #CCC 1px solid;*/
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #CFCFCF 0%, #ededed 22%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CFCFCF), color-stop(22%, #ededed), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #CFCFCF 0%, #ededed 22%, #ededed 100%);
    background: -o-linear-gradient(top, #CFCFCF 0%, #ededed 22%, #ededed 100%);
    background: -ms-linear-gradient(top, #CFCFCF 0%, #ededed 22%, #ededed 100%);
    background: linear-gradient(to bottom, #CFCFCF 0%, #ededed 22%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFCFCF', endColorstr='#ededed', GradientType=0);
}

.only-on-print {
    display: none;
}

input[type="text"] {
    display: inline;
}

.width-4 {
    width: 4em;
}

.width-3 {
    width: 2.5em;
}

.alert-box.warning, .alert-box.error {
    background-color: #FBE3E4;
    color: #777777;
}

.row .row.no-nesting {
    margin: auto 0;
}

.alert-error {
    color: #FF5555;
}

.header .button {
    margin: 0;
}

.header select {
    height: 3.3em;
    margin: 0;
}

.header form {
    display: inline;
    float: left;
}

.header h3 {
    margin-bottom: 0;
}

.appended-link + .selectize-input {
    display: none;
}

.selectize-input {
    max-width: 25em;
}

.selectize-inline .selectize-control {
    display: inline;
}

td .selectize-input {
    width: 100%;
}

.marginless-inputs input, .marginless-inputs select {
    margin: 0;
}

.selectize-input > input {
    position: absolute;
}

td .amount-dropdown {
    /*width: auto;*/
    max-width: 50em !important;
    /*left: 0 !important;*/
}

td input[type="text"] {
    border: none;
    width: 100%;
}

input.small[type="text"] {
    width: 4em;
}

.f-dropdown.content {
    display: none;
}

.f-dropdown.content.open {
    display: block;
}

.close {
    color: red;
}

.acquisition-form label {
    font-weight: bold;
}

.acquisition-form input[type="file"] {
    width: auto;
}

label.required:after {
    content: '*';
    color: red;
}

.acquisition-form #subtitle {
    width: 100%;
}

ul.records, ul#id_models {
    list-style: none;
}

ul.messages {
    list-style: none;
    border: 1px solid black;
}

ul.messages li.success {
    color: green;
}

ul.messages li.error {
    color: red;
}

ul.messages li {
    padding-left: 1em;
}

.breadcrumbs > .right:before {
    content: none;
}

.breadcrumbs form, .breadcrumbs input {
    margin: 0;
    display: inline;
}

.breadcrumbs input {
    padding: 0 1em;
    height: auto;
}

.dashboard div {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 0.25em;
    box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
    float: left;
    /*height: 10em;*/
    height: 13em;
    margin: 0.75em 1.5em 0.75em 0;
    text-align: center;
    /*width: 7.5em;*/
    width: 10.5em;
    font-weight: bold;
}

.dashboard img {
    padding: 0.75em;
}

.dashboard div:hover {
    box-shadow: 0 10px 10px 10px #999;
}

.dashboard-search {
    clear: both;
    padding-top: 3em;
}

.dashboard-search * {
    display: inline;
}

.tabs dd, .tabs .tab-title {
    border-top: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    outline: none;
}

.tabs dd, .tabs .tab-title a {
    outline: none;
}

#files input[type="file"] {
    width: auto;
}

.inline-add .selectize-control {
    display: inline;
}

.accordion dd, .accordion form {
    clear: both;
}

.library-search ul * {
    display: inline;
}

ul.messages {
    border: none;
    margin-left: -1em;
}

table#group-table td input[type="number"] {
    display: inline;
    max-width: 5em;
}

#library form {
    margin: 0 1em;
}

/*Bootstrap override css*/
form p select.form-control, form div select.form-control {
    width: auto;
}

label {
    font-weight: normal;
}

input[type=text] {
    display: block;
}

.width-auto, input[type=url] {
    width: auto;
}

#other-properties input[type=text], input[type=text]#id_q, form input[type=text].input-inline, .input-inline, .isbn-form input[type=text] {
    display: inline;
}

form {
    line-height: 2.5em;
}

#breadcrumb-isbn {
    margin-top: -23px;
    margin-left: 17px;
    height: 26px;
}

.acquision-form div .selectize-control {
    height: 4em;
}

#add_party {
    margin-top: -24px;
}

/*Hover effect*/
#nav-icon, #nav-icon-no-list {
    border: 4px solid #20806F;
    margin: 5px;
    width: 13em;
    height: 14em;
    text-align: center;
    padding-top: 22px;
}

div #nav-icon:hover, #nav-icon-no-list:hover {
    background-color: rgba(224, 241, 231, 0.84);

}

#nav-icon i, #nav-icon-no-list i {
    color: #206E5E;
    font-size: 9em;
    /*max-resolution: res;n-top: 3px;*/
    transition: font-size .5s;
}

div #nav-icon:hover i {
    font-size: 6em;
    margin-top: -5px;
}

.icon-caption {
    margin-top: 9px;
}

#nav-wrapper {
    margin-top: 10px;
}

#nav-icon h2, #nav-icon-no-list h2 {
    margin-top: -3px;
    /*display: none;*/
    color: #20806F;
}

#nav-icon:hover h2 {
    display: none;
}

#nav-wrapper a {
    text-decoration: none;
    color: inherit;
}

#nav-menu {
    visibility: hidden;
    width: 13em;
    height: 14em;
    /*margin-top: -20em;  */
    margin-left: -4px;
}

div #nav-icon:hover #nav-menu {
    /*font-size: 1em;*/
    visibility: visible;
    margin-top: 12px;
}

div #nav-icon ul {

}

#nav-menu li {
    background-color: transparent;
    /*opacity: 100%; */
    border: none;
    border-bottom: 2px solid #20806F;
}

.selectize-control {
    max-width: 300px;
}

/*Flip animation*/
.dashboard-icons {
    text-align: center;
}

.tile {
    width: 13em;
    height: 14em;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 4px solid #20806F;
    float: left;
    color: #20806F;
    margin: 5px 4px;
    text-align: center;
}

.tile:hover {
    text-decoration: none;
    color: black;
}

.tile:hover h2 {
    color: #20806F;
    margin-top: 4px;
}

.tile > .fa {
    display: block;
    font-size: 8em;
    padding: 0.1em 0;
}

.tile h2 {
    /*text-transform: uppercase;*/
    margin-top: -18px;
    background-color: #fff;
    position: absolute;
    top: 160px;
    width: 100%;
    padding: 0.12em;
}

.flip-body {
    position: absolute;
    top: 160px;
    transition: all 300ms linear;
    width: 100%;
}

.flip-container.open .flip-body {
    top: 0;
}

.flip-container > i.fa {
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.flip-container.open > i.fa {
    opacity: 0;
}

.flip-body h2 {
    position: relative;
    top: 0;
}

.tile .flip-body a {
    display: block;
    background-color: #fff;
    padding: 0.3em;
    border-bottom: 1px solid #20806F;
    color: #555;
    opacity: 0.75;
}

.open .flip-body, .open .flip-body h2, .open .flip-body a {
    background-color: rgba(224, 241, 231, 0.84);
}

.tile .flip-body a:hover {
    text-decoration: none;
    opacity: 1;
}

.tile i {
    margin-top: 8px;
    max-width: 300px;
}

.selectize-input {
    min-height: 25px;
}

/*.headertext {*/
    /*border-bottom: 2px solid #333;*/
/*}*/

