{% extends "_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Purchases Order' %}{% endblock %}

{% block header-buttons %}
    <a class="btn btn-success btn-raised"
       href="{% url 'purchase_order_create' %}">{% trans 'New' %} {% trans 'Purchase Order' %}</a>
{% endblock %}


{% block content %}
{% ifrole "Staff" %}

<div class="well">
    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}
    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table table-striped">
        <thead>
        <th>{% anchor voucher_no _('Voucher No.') %}</th>
        <th>{% anchor date _('Date') %}</th>
        <th>{% anchor party _('Party') %}</th>
        {% ifrole "Stockist" %}
        <th>{% trans "Action" %}</th>
        {% endrole %}
        </thead>
        <tbody>
        {% for purchase_order in paginated_objects %}
        <tr>
            <td class="link">
                <a href="{% url 'purchase_order_detail' purchase_order.pk %}">{{ purchase_order.voucher_no }}</a>
            </td>
            <td>
                {{ purchase_order.date }}
            </td>
            <td>
                <a href="{{ purchase_order.party.get_absolute_url }}">
                    {{ purchase_order.party }}
                </a>
            </td>
            {% ifrole "Stockist" %}
            <td>
                <a href="{% url 'purchase_order_edit' purchase_order.id %}">{% trans "Edit" %}</a>
            </td>
            {% endrole %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% paginate %}
{% if request.user.purchase_order.all %}

    <h1>{% trans "Purchase Order" %}: {{ request.user }}</h1>
{% endif %}
{% endrole %}
{% if request.user.purchase_order.all %}
<div class="well">
    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}
    {% autosort request.user.purchase_order.all as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table table-striped">
        <thead>
        <th>{% anchor voucher_no _('Voucher No.') %}</th>
        <th>{% anchor date _('Date') %}</th>
        <th>{% anchor party _('Party') %}</th>
        {% ifrole "Stokist" %}
        <th>{% trans "Action" %}</th>
        {% endrole %}
        </thead>
        <tbody>
        {% for agent_purchase_order in paginated_objects %}
        <tr>
            <td class="link">
                <a href="{% url 'purchase_order_detail' agent_purchase_order.pk %}">{{ agent_purchase_order.voucher_no }}</a>
            </td>
            <td>
                {{ agent_purchase_order.date }}
            </td>
            <td>
                <a href="{{ agent_purchase_order.party.get_absolute_url }}">
                    {{ agent_purchase_order.party }}
                </a>
            </td>
            {% ifrole "Stokist" %}
            <td>
                <a href="{% url 'purchase_order_edit' agent_purchase_order.id %}">{% trans "Edit" %}</a>
            </td>
            {% endrole %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% paginate %}
{% endif %}
{% endblock %}