{% extends "_base.html" %}
{% load staticfiles i18n filters %}

{% block page-title %}
    {% trans 'Detail' %} {% trans 'Purchase' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'purchase-list' %}">{% trans 'Purchases' %}</a></li>
    <li>{% trans 'Detail' %} {% trans 'Purchases' %}</li>
{% endblock %}


{% block content %}
<div class="well">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div>
            <label for="voucher-no">{% trans 'Voucher' %} {% trans 'No.' %}</label>
            <p>
                {{ object.voucher_no }}
            </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="date">{% trans 'Date' %}</label>
            <p>
                {{ object.date }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <label for="party">{% trans 'Party' %}</label>
            <p>
                {{ object.party.name }}
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <label>{% trans 'Due' %}</label>
            <p>
                {% multiply object.party.account.balance -1 %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        {% trans 'Type' %}
                    </label>
                    <p>
                        {{ object.type }}
                    </p> 
                </div>
            </div>
        </div>
        {% if object.due_date %}
        <div class="col-md-6 col-sm-12">
            <label>{% trans 'Due Date' %}</label>
            <p>
                {{ object.due_date }}
            </p>
        </div>
        {% endif %}
   </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <label for="party">{% trans 'Tax' %}</label>
            <p> {{ object.get_tax_display }}</p>
        </div>
        {% if object.tax_scheme %}
        <div>
            <div class="col-md-6 col-sm-12">
                <label for="due_date">{% trans 'Tax Scheme' %}</label>
                <p> {{ object.tax_scheme }}</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="well">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "S.N." %}</th>
                <th>{% trans "Item" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Rate" %}</th>
                <th>{% trans "Unit" %}</th>
                {% if object.tax != "no" and not object.tax_scheme %}
                <th>{% trans "Tax Scheme" %}</th>
                {% endif %}
                {% if request.company.settings.discount_on_each_purchase_particular %}
                    <th>{% trans 'Discount' %}</th>
                {% endif %}
                <th>{% trans 'Total' %}</th>
            </tr>
        </thead>

        <tbody>
            {% for row in rows %}
            <tr>
                <td>
                    {{ row.sn }}
                </td>
                <td>
                    {{ row.item }}
                </td>
                <td>
                    {{ row.quantity }}
                </td>
                <td>
                    {{ row.rate }}
                </td>
                <td>
                    {{ row.unit }}
                </td>
                {% if object.tax != "no" and not object.tax_scheme %}
                <td>
                    {{ row.tax_scheme | default:''}}
                </td>
                {% endif %}
                {% if request.company.settings.discount_on_each_purchase_particular %}
                <td>
                    {{ row.discount }}
                </td>
                {% endif %}
                <td>
                    {{ row.get_total }}
                </td>
            </tr>
            {% endfor %}
            <tr class="sub-total total">
                <td colspan="{% colspan %}">
                    {% trans 'Sub Total' %}
                </td>
                <td colspan="2">{{ object.sub_total }}</td>

            </tr>
            <tr class="tax-total total">
                <td colspan="{% colspan %}">
                    {% trans 'Tax Amount' %}
                </td>
                <td colspan="2">{{ object.tax_amount }}</td>

            </tr>
            {% if request.company.settings.discount_on_each_purchase_particular %}
            <tr class="discount total">
                <td colspan="{% colspan %}">
                    {% trans 'Discount Amount' %}
                </td>
                <td colspan="2">{{ object.row_discount_total }}</td>

            </tr>
            {% endif %}
            {% if request.company.settings.single_discount_on_whole_purchase %}
            <tr class="discount-voucher total">
                <td colspan="{% colspan %}">
                    {% trans 'Discount on voucher' %}
                </td>
                <td colspan="2">{{ object.discount |default:'0'}}</td>

            </tr>
            {% endif %}
            <tr class="total">
                <td colspan="{% colspan %}">
                    {% trans 'Grand Total' %}
                </td>
                <td colspan="2">{{ object.total }}</td>
            </tr>
        </tbody>

    </table>
</div>

{% endblock %}