{% extends "_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Sales' %}{% endblock %}

{% block header-buttons %}
    <a class="btn btn-success btn-raised"
       href="{% url 'sale-create' %}">{% trans 'New' %} {% trans 'Sale' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <div class="well">
        <table class="table table-striped">
            <thead>
            <th>{% anchor voucher_no _('Voucher No.') %}</th>
            <th>{% anchor date _('Date') %}</th>
            <th>{% anchor party _('Party') %}</th>
            <th>{% anchor credit _('Credit/Cash') %}</th>
            <th>{% anchor pending _('Pending') %}</th>
            <th>{% anchor total _('Total') %}</th>
            {% ifrole "Accountant" %}
                <th>{% trans "Action" %}</th>
            {% endifrole %}
            </thead>
            <tbody>
            {% for sale in paginated_objects %}
                <tr>
                    <td class="link">
                        <a href="{% url 'sale_detail' sale.pk %}">{{ sale.voucher_no }}</a>
                    </td>
                    <td>
                        {{ sale.date }}
                    </td>
                    <td>
                        <a href="{{ purchase.party.get_absolute_url }}">
                            {{ sale.party |default:'' }}
                        </a>
                    </td>
                    <td>
                        {{ sale.type }}
                    </td>
                    <td>
                        {{ sale.pending_amount |default:'' }}
                    </td>
                    <td>
                        {{ sale.total_amount |default:'' }}
                    </td>
                    {% ifrole "Accountant" %}
                    <td>
                        <a href="{% url 'sale-edit' sale.id %}">{% trans "Edit" %}</a>
                    </td>
                    {% endifrole %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}


{% endblock %}