{% extends "_base.html" %}
{% load i18n %}

{% block page-title %}{% trans 'Company Roles' %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'users:user_list' %}">{% trans 'Users' %}</a></li>
    <li>{% trans 'Company Roles' %}</li>
{% endblock %}

{% block header-buttons %}
    <a href="{% url 'users:user_add' %}" class="btn btn-default pull-right user-add-btn">Add User</a>
{% endblock %}

{% block content %}

    <table class="table table-bordered">
        <thead>
        <th>{% trans 'User' %}</th>
        <th>{% trans 'Full Name' %}</th>
        <th>{% trans 'E-mail' %}</th>
        <th>{% trans 'Role' %}</th>
        <th></th>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{% url 'users:user_edit' role.user.pk %}">{{ role.user.username }}</a></td>
                <td><a href="{% url 'users:user_edit' role.user.pk %}">{{ role.user.full_name }}</a></td>
                <td><a href="mailto:{{ role.user.email }}">{{ role.user.email }}</a></td>
                <td>{{ role.group }}</td>
                <td>{% if role.group.name != 'SuperOwner' %}
                    <a href="{% url 'users:delete_role' role.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
                    <a href="{% url 'users:edit_role' role.id %}" class="btn">{% trans 'Edit' %}</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>{% trans 'Add New Role' %}:</h3>

    <form method="post">
        {% csrf_token %}
        <input type="text" class=form-control" name="user" placeholder="Username or E-mail" required>
        <select name="group" required>
            <option selected="selected" value="">Select a Role</option>
            {% for group in groups %}
                <option value="{{ group }}">{{ group }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add" class="button">
    </form>

{% endblock %}