{% extends "base.html" %}
{% load staticfiles i18n %}
{% load filters %}

{% block title %}
	Create Sale
{% endblock %}

{% block head_end %}
    <script src="{% static 'js/inventory/create-sale.js' %}"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block content %}
<div class='container'>
	<div class="row">
		<div class="col-12-lg col-12-md col-12-sm col-12-xs">
			<h2>Sales</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-12-lg col-12-md col-12-sm col-12-xs">
		
			<form method="post" data-bind="submit: save">
				{% csrf_token %}
				<div>
					Party: <select data-bind="selectize: $root.parties, value: party, event: {change: $root.party_changed}"
                         class="change-on-ready"></select>
				</div>
				<div>
					Voucher No.: <input type="text" data-bind="value: voucher_no" class='form-control'>
					Date: <input type="text" data-bind="value: date" class='form-control'>
				</div>
				<br>

				<div data-bind="with: table_view">
					
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<td>{% trans "S.N" %}</td>
								<td>{% trans "Items" %}</td>
								<td>{% trans "Quantity" %}</td>
								<td>{% trans "Rate" %}</td>
								<td>{% trans "Unit" %}</td>
							</tr>
						</thead>

						<tbody>
                			<!-- ko foreach: rows -->
							<tr>
			                    <td>
			                        <span class="wid-pad pull-left" data-bind="text:  $index()+1, localize: 1"> </span>
			                    </td>
			                    <td>
			                    	<select data-bind="selectize: $root.items, value: item_id, event: {change: $root.item_changed}"></select>
			                    </td>
			                    <td data-bind="editableText: quantity, numeric: true"></td>
			                    <td data-bind="editableText: rate, numeric: true"></td>
			                    <td>
			                    	<select data-bind="selectize: units, value: unit_id"></select>
			                    </td>
			                    <td class="hide-on-print">
			                    	<a href="#" class="close tiny secondary" data-bind="click: $parent.removeRow">x</a>
			                    </td>
							</tr>

							<!-- /ko -->
						</tbody>

					</table>
		            <a class="btn btn-default" data-bind="click: addRow">
		                {% trans 'Add New Row' %}
		            </a>
				</div>
				<br>
		       <input type="submit" class="btn btn-default btn-lg" value="{% trans 'Save' %}">
			</form>
		</div>
	</div>
</div>
{% endblock %}