{% extends base_template %}
{% load staticfiles i18n %}
{% load filters %}

{% block title %}
    Item
{% endblock %}

{% block head_end %}
    <script src="{% static 'js/inventory/item.js' %}"></script>
    <script>
        item_data = {{ item_data| jsonify }};
        {% if item_unit_id %}
            item_unit_id = {{ item_unit_id }}
        {% else %}
            item_unit_id = ''
        {% endif %}
    </script>
{% endblock %}

{% block headertext %}Item{% endblock %}

{% block content %}


    <form method="POST" id='form' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>

        <div id="other-properties">
            <label for="id_units">Units</label>
            <select id ="id_units" data-bind="selectize: $root.units, value: unit_id, event: {change: unit_changed}" data-url="{% url 'add-unit' %}" name="unit" required></select>

            <label for="id_other_properties">{% trans "Other properties" %}</label>

            <div id="id_other_properties" data-bind="foreach: other_properties">
                <p>
                    <input type="text" class="form-control test" id="id_property_name" name="property_name"
                           placeholder="Property name" data-bind="value: property_name">
                    <input type="text" class="form-control" id="id_property" name="property" placeholder="Property"
                           data-bind="value: property">
                    <a href="#" data-bind="click: $parent.removeOtherProperty">x</a>
                </p>
            </div>
            <a class="btn btn-default" data-bind="click: addOtherProperty">
                {% trans 'Add New Property' %}
            </a>
        </div>
        </p>
        <input type="submit" id='submit' class="btn btn-default">
    </form>
{% endblock %}