{% load staticfiles i18n filters %}

{% kwacro page-title %}
    {% block page-title %}{% endblock %}
{% endkwacro %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block whole_title %}
            {% block title %}{% usekwacro page-title %}{% endblock %} | RIS
        {% endblock %}
    </title>

    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" media="all">
    <link rel="stylesheet" href='{% static "css/bootstrap-flat.min.css" %}' type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/selectize.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href='{% static "css/selectize.css" %}' type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker3.css' %}">

    <script src='{% static "js/libs/jquery-1.11.3.min.js" %}'></script>
    <script src="{% static 'js/libs/jquery.autosize.input.js' %}"></script>
    <script src="{% static 'js/libs/selectize.js' %}"></script>
    <script src="{% static 'js/libs/knockout.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/ko_lib.js' %}"></script>

    {% block extrastyle %} {% endblock %}
    {% block extrahead %}{% endblock %}


</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">


<div class='container'>

    {% if not is_popup %}
        {% include 'partials/_header.html' %}

        <ol class="breadcrumb hidden-print">
            {% block breadcrumbs_container %}
                <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                {% block breadcrumbs %}
                    <li>{% usekwacro page-title %}</li>{% endblock %}
            {% endblock %}
        </ol>

    {% endif %}

    {% block messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message|capfirst }}</div>
        {% endfor %}
    {% endblock %}

    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10">
            <h1>{% block page-header %}{% usekwacro page-title %}{% endblock %}</h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            {% block header-buttons %}{% endblock %}
        </div>
    </div>


    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block content %}
            {% block object-tools %}{% endblock %}
        {% endblock %}
        {% block sidebar %}{% endblock %}
    </div>

    {% block footer %}
        <div id="footer"></div>
    {% endblock %}

</div>
<script type="text/javascript" src='{% static "js/libs/bootstrap.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/libs/selectize.min.js" %}'></script>

{% block extrabody %}
{% endblock %}

</body>
</html>