{% block extrahead %}
{% endblock %}

<div class="modal fade" id="item_modal" tabindex="-1" role="dialog" aria-labelledby="Item">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3>{% block page-title %}{% endblock %}</h3>
            </div>
            <div class="modal-body">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>

<script>

    $('.modal-body select.selectize:not(.selectized)').each(function (el) {
        var $select = $(this).selectize();
        selectizeValidationFix($select);
        if (typeof init_selectize == 'function') {
            init_selectize($select[0].selectize);
        }
    });
    

    function selectizeValidationFix($select) {

        var self = $select[0].selectize;

        self.$input.on('invalid', function (event) {
            event.preventDefault();
            self.focus(true);
            self.$wrapper.addClass('invalid');
        });

        self.$input.on('change', function (event) {
            if (event.target.validity && event.target.validity.valid) {
                self.$wrapper.removeClass('invalid');
            }
        });

    }
</script>