{% extends "base.html" %}

{% block title %}
Awecounting
{% endblock %}

{% block content %}
<div class='container'>
    <div class="row">
        <div style="border-bottom: 2px solid #333" class="col-12-lg col-12-md col-12-sm col-12-xs">
            <h1>Awecounting</h1>
        </div>
    </div>
    	<div class="pull-left" id='nav-icon'>
    		<i class="fa fa-shopping-cart fa-5x"></i><br>
    		asdf
    	</div>
    	<div class="pull-left" id='nav-icon'>
    		<i class="fa fa-check-square fa-5x"></i><br>
    		asdf
    	</div>

</div>
{% endblock %}