{% extends "base.html" %}

{% block title %}
Awecounting
{% endblock %}

{% block content %}
<div class='container'>
    <div id="nav-wrapper">
    	<div class="pull-left" id='nav-icon'>
    		<i class="fa fa-arrow-down "></i><br>
            <div>
            <h2>Purchases</h2>
            <ul class="list-group" id="nav-menu">
                <a href="{% url 'purchase-create' %}"><li class="list-group-item">New Purchase</li></a>
                <a href="{% url 'purchase-list' %}"><li class="list-group-item">List Purchases</li></a>
            </ul>
            </div>
        </div>
        <div class="pull-left" id='nav-icon'>
            <i class="fa fa-arrow-up"></i><br>
            <h2>Sales</h2>
            <ul class="list-group" id="nav-menu">
                <a href="{% url 'sale-create' %}"><li class="list-group-item">New Sale</li></a>
                <a href="{% url 'sale-list' %}"><li class="list-group-item">List Sales</li></a>
            </ul>
        </div>
            <div class="pull-left" id='nav-icon-no-list'>
            <a href="{% url 'list_inventory_accounts' %}">
                <i class="fa fa-book"></i><br>
                <h2>Accounts</h2>
            </a>
        </div>

    </div>
</div>
{% endblock %}