Django
psycopg2
django-modeltranslation
django-mptt
-e git+https://github.com/areski/django-pagination.git@fix-xrange-slice#egg=linaro-django-pagination
webstack-django-sorting
djangorestframework
Pillow
-e git+https://github.com/helber/django-dbsettings.git@master#egg=django-dbsettings
sorl-thumbnail
jsonfield
-e git+https://github.com/awecode/njango.git@master#egg=njango
django-filter
django-haystack
pyelasticsearch
django-froala-editor
-e git+https://github.com/xtranophilist/nepdate.git@master#egg=nepdate
django-redis
django-celery
xlrd