{% extends base_template %}
{% load i18n %}

{% block page-title %}{{ scenario }} {% trans "Tax Scheme" %}{% endblock %}

{% block breadcrumbs %}
    <li>{% trans "Tax" %}</li>
    <li><a href="{% url 'tax_scheme_list' %}">{% trans 'Tax Scheme' %}</a></li>
    <li>{{ scenario }} {% trans 'Tax Scheme' %}</li>
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="well">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="required">
                <label class="required">
                        {{ form.name.label}}
                </label>
                {{ form.name }}
            </p>
            <p>
                <label>
                        {{ form.short_name.label}}
                </label>
                {{ form.short_name }}
            </p>
            <p class="required">
                <label class="required">
                        {{ form.percent.label}}
                </label>
                {{ form.percent }}
            </p>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        {{ form.recoverable }} {{ form.recoverable.label }}
                    </label>
                </div>
                <p class="help-block">{% trans 'Check if this is a recoverable.' %}</p>
            </div>
        </div>

        <input type="submit" class='btn btn-info btn-raised' value="{% trans 'Save' %}">

        {% if form.instance.id %}
            <a href="{% url 'tax_scheme_delete' form.instance.id %}" class="btn btn-danger btn-raised">{% trans 'Delete' %}</a>
        {% endif %}
    </form>

{% endblock %}