{% extends "_base.html" %}
{% load i18n %}

{% block page-title %}{{ scenario }} {% trans 'Cash Receipt' %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "create_cash_receipt" %}">{% trans 'Cash Receipts' %}</a></li>
    <li>{{ scenario }} {% trans 'Cash Receipt' %}</li>
{% endblock %}

{% load filters %}
{% block extrahead %}
    <script src="{{ STATIC_URL }}js/cash_receipt.js"></script>
    <script>
        ko_data =
        {{ data|jsonify }}
    </script>
{% endblock %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="well">

            <div classs="row">
                {{ form.voucher_no.label_tag }}
                {{ form.voucher_no }}
                {{ form.voucher_no.errors }}

            </div>

            <div class="row">

                <div class="col-md-6 col-xs-12">
                    {{ form.party.label_tag }}
                    <input class="form-control"
                           data-url="{% url 'party_add' %}?type=Customer"
                           data-bind="value: party, select2: $root.parties, event: {change: $root.party_changed}">
                </div>

                <div class="col-md-6 col-xs-12">
                    {{ form.date.label_tag }}
                    {{ form.date }}
                    {{ form.date.errors }}
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 col-xs-12">
                    <label>{% trans 'Customer Address' %}</label>
                    <input type="text" class="form-control" data-bind="value: party_address" disabled>
                </div>

                <div class="col-md-6 col-xs-12">
                    {{ form.reference.label_tag }}
                    {{ form.reference }}
                    {{ form.reference.errors }}
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 col-xs-12">
                    <label>{% trans 'Current Balance' %}</label>
                    <input type="text" class="form-control" data-bind="value: current_balance" disabled>
                </div>

                <div class="col-md-6 col-xs-12">
                    {{ form.amount.label_tag }}
                    {{ form.amount }}
                    {{ form.amount.errors }}
                    {#                    <label>Amount</label>#}
                    {#                    <input type="text" data-bind="value: amount, enable:!table_vm().rows()" required>#}
                </div>

            </div>

        </div>


        <div data-bind="with: table_vm()">

            <div class="well">

                <a href="#" class="btn btn-raised btn-default"
                   data-bind="click: load_related_invoices, visible: party() && !table_vm().rows()">
                    {% trans 'Load Invoices' %}</a>

                <table class="table table-striped" id="voucher_table"
                       data-bind="visible: $parent.table_vm().rows()">
                    <thead>
                    <tr>
                        <th>{% trans 'Invoice No.' %}</th>
                        <th>{% trans 'Date' %}</th>
                        <th class="span3">{% trans 'Total Amount' %}</th>
                        <th class="span2">{% trans 'Pending Amount' %}</th>
                        <th class="span1">{% trans 'Due Date' %}</th>
                        <th class="span1">{% trans 'Overdue Days' %}</th>
                        <th class="span1">{% trans 'Receipt' %}</th>
                        <th class="span1">{% trans 'Discount' %}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!-- ko foreach:rows -->
                    <div id="particulars-body">
                        <tr>
                            <td data-bind="text: bill_no"></td>
                            <td data-bind="text: date"></td>
                            <td data-bind="text: total_amount"></td>
                            <td data-bind="text: pending_amount"></td>
                            <td data-bind="text: due_date"></td>
                            <td data-bind="text: overdue_days()"></td>
                            <td data-bind="editableText: payment, numeric: true"></td>
                            <td data-bind="editableText: discount, numeric: true"></td>
                        </tr>
                        <!-- /ko -->
                    </div>
                    <tr class="total">
                        <td colspan="6" class="pull-right">{% trans 'TOTAL' %}</td>
                        <td data-bind="text: get_total('payment')"></td>
                        <td data-bind="text: get_total('discount')"></td>
                    </tr>

                    </tbody>
                </table>

            </div>

            <div>

                <input class="btn btn-raised btn-info" type="submit" value="Save" data-bind="click: $root.save">
                {% if scenario == 'Update' %}
                    <a class="btn btn-raised btn-danger" href="{% url 'delete_invoice' form.instance.invoice_no %}">Delete</a>
                {% endif %}


            </div>
        </div>


    </form>


{% endblock %}