{% extends "_base.html" %}
{% load staticfiles i18n filters njango_filters %}

{% block page-title %}
    {{ scenario }} {% trans 'Purchase Voucher' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'purchase-list' %}">{% trans 'Purchase Vouchers' %}</a></li>
    <li>{{ scenario }} {% trans 'Purchase Voucher' %}</li>
{% endblock %}

{% block extrahead %}
    <script src="{% static 'voucher/js/purchase.js' %}"></script>
    <script>
        ko_data = {{data|jsonify}};
        voucher_settings = {{ request.company.settings|jsonify }};
    </script>
    <script>
        {% if not request.company.settings.purchase_default_tax_scheme and request.company.settings.discount_on_each_purchase_particular or request.company.settings.purchase_default_tax_scheme and request.company.settings.discount_on_each_purchase_particular %}
            colspan = 6;
        {% else %}
            colspan = 5;
        {% endif %}
    </script>

{% endblock %}

{% block content %}

    <form method="post" data-bind="submit: save">
        {% csrf_token %}
        <div class="well">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="voucher-no">{% trans 'Voucher' %} {% trans 'No.' %}</label>
                    <input type="text" data-bind="value: voucher_no" class="form-control" id="voucher-no">
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="date">{% trans 'Date' %}</label>
                    <input type="text" data-bind="value: date" class="form-control {% calendar_class %}" id="date">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="party">{% trans 'Party' %}</label>
                    <select id="party"
                            data-bind="selectize: $root.parties, value: party_id, object: party, selectize_options:{render: {'option': render_party_options}}"
                            data-url="{% url 'party_add' %}?source=purchase"></select>
{#                    <select id="party" data-bind="selectize: $root.parties, value: party_id, object: party"#}
{#                            data-url="{% url 'party_add' %}?source=purchase"></select>#}
                </div>

                <div class="col-md-6 col-sm-12 hidden-print" data-bind="if: party_balance">
                    <label>{% trans 'Due' %}</label>

                    <div data-bind="text: party_balance"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 col-sm-12">

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-bind="checked: credit"> {% trans 'Credit' %}
                            </label>
                        </div>
                        <p class="help-block">{% trans 'Check if this is a credit purchase.' %}</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <label for="due_date">{% trans 'Due Date' %}</label>
                    <input type="text" data-bind="value: due_date, enable: credit" class="form-control {% calendar_class %}"
                           id="due_date">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="party">{% trans 'Tax' %}</label>
                    <select name="tax" class="form-control" id="tax"
                            data-bind="selectize: tax_types, optionsText: 'value', value: tax"></select>
                </div>
                <div>
                    <div class="col-md-6 col-sm-12" data-bind="visible: tax()!='no'">
                        <label for="due_date">{% trans 'Tax Scheme' %}</label>
                        <select id="tax_scheme" data-bind="selectize: $root.tax_schemes, value: tax_scheme_id, object: tax_scheme"
                                data-url="{% url 'tax_scheme_add' %}"></select>
                    </div>
                </div>
            </div>
        </div>


        <div data-bind="with: table_view" class="well">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans "S.N." %}</th>
                    <th>{% trans "Item" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Rate" %}</th>
                    <th>{% trans "Unit" %}</th>
                    {% if request.company.settings.discount_on_each_purchase_particular %}
                        <th>{% trans 'Discount' %}</th>
                    {% endif %}
                    <th data-bind="visible: $root.tax()!='no'  && !$root.tax_scheme()">{% trans "Tax Scheme" %}</th>
                    <th>{% trans 'Lot#' %}</th>
                    <th>{% trans 'Total' %}</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <!-- ko foreach: rows -->
                <tr>
                    <td>
                        <span data-bind="text:  $index()+1, localize: 1"> </span>
                    </td>
                    <td>
                        <select data-url="{% url 'item_add' %}?source=purchase" data-script="/static/inventory/js/item.js"
                                data-bind="selectize: $root.items, value: item_id, object: item">
                        </select>
                    </td>
                    <td data-bind="editableText: quantity, numeric: true"></td>
                    <td data-bind="editableText: rate, numeric: true"></td>
                    <td class="unit-cell">
                        <select data-bind="selectize: $root.units, value: unit_id, object:unit, selectize_options:{render: {'option': render_unit_options}}"
                                data-url="{% url 'unit_add' %}"></select>
                    </td>
                    {% if request.company.settings.discount_on_each_purchase_particular %}
                        <td data-bind="editableText: discount, percentage_numeric: true"></td>
                    {% endif %}
                    <td data-bind="visible: $root.tax()!='no'  && !$root.tax_scheme()">
                        <select id="tax_scheme" data-bind="selectize: $root.tax_schemes, value: tax_scheme_id, object: tax_scheme"
                                data-url="{% url 'tax_scheme_add' %}"></select>
                    </td>
                    <td class="lot-cell" data-bind="editableText: lot_number"></td>
                    <td data-bind="text: total"></td>
                    <td class="hide-on-print text-center">
                        <a href="#" class="red fa fa-trash-o fa-2x" data-bind="click: $parent.removeRow"></a>
                    </td>
                </tr>

                <!-- /ko -->
                <tr class="sub-total total">
                    <td colspan="7">
                        {% trans 'Sub Total' %}
                    </td>
                    <td colspan="2" data-bind="text: $root.sub_total(), localize: 2"></td>

                </tr>
                {% if request.company.settings.discount_on_each_purchase_particular %}
                    <tr class="discount-total total">
                        <td colspan="7">
                            {% trans 'Discounted Amount' %}
                        </td>
                        <td colspan="2" data-bind="text: $root.total_discount(), localize: 2"></td>
                    </tr>
                {% endif %}
                {% if request.company.settings.single_discount_on_whole_purchase %}
                    <tr class="discount-total total">
                        <td colspan="7">
                            {% trans 'Discount' %}
                        </td>
                        <td colspan="2"
                            data-bind="editableText: $root.voucher_discount, percentage_numeric: true, localize: 2"></td>
                    </tr>
                {% endif %}
                <!-- ko if: $root.tax()!='no' -->
                <tr class="taxable-amount total">
                    <td colspan="7">
                        {% trans 'Taxable Amount' %}
                    </td>
                    <td colspan="2" data-bind="text: $root.taxable_amount(), localize: 2"></td>
                </tr>
                <tr class="tax-total total">
                    <td colspan="7">
                        {% trans 'Tax Amount' %}
                    </td>
                    <td colspan="2" data-bind="text: $root.tax_amount(), localize: 2"></td>
                </tr>
                <!-- /ko -->
                <tr class="grand-total total">
                    <td colspan="7">
                        {% trans 'Grand Total' %}
                    </td>
                    <td colspan="2" data-bind="text: $root.grand_total(), localize: 2"></td>

                </tr>
                </tbody>

            </table>
            <a class="btn btn-default btn-raised" data-bind="click: addRow">
                {% trans 'Add New Row' %}
            </a>
        </div>
        <input type="submit" class="btn btn-raised btn-info" value="{% trans 'Save' %}">
        {% if scenario == 'Update' %}
            {% if request.company.can_manage_purchase_orders and obj.purchase_order.pk %}
                <a class="btn btn-info btn-raised" href="{% url 'purchase_order_edit' obj.purchase_order.pk %}">{% trans 'Purchase Order' %}</a>
            {% endif %}
            <a class="btn btn-danger btn-raised" href="{% url 'purchase_delete' obj.id %}">{% trans 'Delete!' %}</a>
        {% endif %}
    </form>


{% endblock %}