{% extends "_base.html" %}
{% load staticfiles i18n njango_filters %}
{% load filters %}

{% block page-title %}
    {{ scenario }} {% trans 'Sales' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'sale-list' %}">{% trans 'Sales' %}</a></li>
    <li>{{ scenario }} {% trans 'Sales' %}</li>
{% endblock %}

{% block extrahead %}
    <script src="{% static 'voucher/js/sale.js' %}"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
    <script>
        {% if not request.company.settings.invoice_default_tax_scheme and request.company.settings.discount_on_each_invoice_particular or request.company.settings.invoice_default_tax_scheme and request.company.settings.discount_on_each_invoice_particular %}
            colspan = 6;
        {% else %}
            colspan = 5;
        {% endif %}
    </script>

{% endblock %}

{% block content %}
    <form method="post" data-bind="submit: save">
        {% csrf_token %}
        <div class="well">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="voucher_no">{% trans 'Voucher' %} {% trans 'No.' %}</label>
                    <input type="text" data-bind="value: voucher_no" class="form-control" id="voucher_no">
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="date">{% trans 'Date' %}</label>
                    <input type="text" data-bind="value: date" class="form-control {% calendar_class %}" id="date">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="party">{% trans 'Party' %}</label>
                    <select data-bind="selectize: $root.parties, value: party_id, object: party"
                            data-url="{% url 'party_add' %}" id="party"></select>
                </div>

                <div class="col-md-6 col-sm-12 hidden-print" data-bind="if: party_balance">
                    <label>{% trans 'Due' %}</label>

                    <div data-bind="text: party_balance"></div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-bind="checked: credit"> {% trans 'Credit' %}
                            </label>
                        </div>
                        <p class="help-block">{% trans 'Check if this is a credit purchase.' %}</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <label for="due_date">{% trans 'Due Date' %}</label>
                    <input type="text" data-bind="value: due_date, enable: credit" class="form-control {% calendar_class %}"
                           id="due_date">
                </div>

            </div>
            <div class="row" data-bind="with: tax_vm">
                <div class="col-md-6 col-sm-12">
                    <label for="party">{% trans 'Tax' %}</label>
                    <select name="tax" class="form-control" id="tax"
                            data-bind="selectize: tax_choices, optionsText: 'value', value: tax"></select>
                </div>
                <div data-bind="visible: tax_scheme_visibility">
                    <div class="col-md-6 col-sm-12">
                        <label for="due_date">{% trans 'Tax Scheme' %}</label>
                        <select id="tax_scheme" data-bind="selectize: $root.tax_schemes, value: tax_scheme"
                                data-url="{% url 'tax_scheme_add' %}"></select>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="with: table_view" class="well">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans "S.N." %}</th>
                    <th>{% trans "Item" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Rate" %}</th>
                    <th>{% trans "Unit" %}</th>
                    <th data-bind="visible: $root.tax_vm.get_scheme()">{% trans "Tax Scheme" %}</th>
                    {% if request.company.settings.discount_on_each_purchase_particular %}
                        <th>{% trans 'Discount' %}</th>
                    {% endif %}
                    <th>{% trans 'Total' %}</th>
                </tr>
                </thead>

                <tbody>
                <!-- ko foreach: rows -->
                <tr>
                    <td>
                        <span data-bind="text:  $index()+1, localize: 1"> </span>
                    </td>
                    <td>
                        <select data-url="{% url 'item_add' %}?source=sale" data-script="/static/inventory/js/item.js"
                                data-bind="selectize: $root.items, value: item_id, object:item, selectize_options:{render: {'option': render_option, 'item':render_option}}">
                        </select>
                    </td>
                    <td data-bind="editableText: quantity, numeric: true"></td>
                    <td data-bind="editableText: rate, numeric: true"></td>
                    <td>
                        <select data-bind="selectize: $root.units, value: unit_id, object:unit, selectize_options:{render: {'option': render_unit_options}}"
                                data-url="{% url 'unit_add' %}?"></select>
                    </td>
                    <!-- ko with: row_tax_vm -->
                    <td data-bind="visible: $root.tax_vm.get_scheme()">
                        <select id="tax_scheme" data-bind="selectize: $root.tax_schemes, value: tax_scheme"
                                data-url="{% url 'tax_scheme_add' %}"></select>
                    </td>
                    <!-- /ko -->
                    {% if request.company.settings.discount_on_each_purchase_particular %}
                        <td data-bind="editableText: discount, percentage_numeric: true"></td>
                    {% endif %}
                    <td data-bind="text: total"></td>
                    <td class="hide-on-print text-center">
                        <a href="#" class="red fa fa-trash-o fa-2x" data-bind="click: $parent.removeRow"></a>
                    </td>
                </tr>

                <!-- /ko -->
                <tr class="sub-total total" data-bind="visible: $root.tax_vm.tax_scheme_visibility">
                    <td colspan="7">
                        {% trans 'Sub Total' %}
                    </td>
                    <td colspan="2" data-bind="text: $root.sub_total(), localize: 1"></td>

                </tr>
                <tr class="tax-total total">
                    <td colspan="7">
                        {% trans 'Tax Amount' %}
                    </td>
                    <td colspan="2" data-bind="text: $root.tax_amount(), localize: 1"></td>
                </tr>
                {% if request.company.settings.discount_on_each_purchase_particular %}
                    <tr class="discount-total total">
                        <td colspan="7">
                            {% trans 'Discount Amount' %}
                        </td>
                        <td colspan="2" data-bind="text: $root.discount(), localize: 1"></td>
                    </tr>
                {% endif %}
                {% if request.company.settings.single_discount_on_whole_purchase %}
                    <tr class="discount-total total">
                        <td colspan="7">
                            {% trans 'Discount' %}
                        </td>
                        <td colspan="2" data-bind="editableText: $root.voucher_discount,percentage_numeric: true, localize: 1"></td>
                    </tr>
                {% endif %}

                <tr class="grand-total total">
                    <td colspan="7">
                        {% trans 'Grand Amount' %}
                    </td>
                    <td colspan="2" data-bind="text: $root.grand_total(), localize: 1"></td>

                </tr>

                </tbody>

            </table>
            <a class="btn btn-default btn-raised" data-bind="click: addRow">
                {% trans 'Add New Row' %}
            </a>
        </div>
        <input type="submit" class="btn btn-info btn-raised" value="{% trans 'Save' %}">
    </form>
{% endblock %}