{% extends "_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}
    {% if to_date %}
        {% trans 'Sales from' %} {{ from_date }} {% trans 'to' %} {{ to_date }}
    {% else %}
        {% trans 'Sales for' %} {{ from_date }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class='container'>
        <div class="row">

            {% load pagination_tags %}
            {% load sorting_tags %}
            {% load filters %}

            {% autosort objects as sorted_objects %}
            {% autopaginate sorted_objects 25 as paginated_objects %}
            <div class="well">
                <table class="table table-striped">
                    <tr>
                        <th>{% trans 'Total Amount Sold' %}</th>
                        <td>{{ total_amount }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Total Quantity Sold' %}</th>
                        <td>{{ total_quantity }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Total Particulars Sold' %}</th>
                        <td>{{ total_items }}</td>
                    </tr>
                </table>
            </div>

            <div class="well">
                <table class="table table-striped">
                    <thead>
                    <th>{% anchor voucher_no _('Voucher No.') %}</th>
                    <th>{% anchor date _('Date') %}</th>
                    <th>{% trans 'Total' %}</th>

                    </thead>
                    <tbody>
                    {% for sale in paginated_objects %}
                        <tr>
                            <td>
                                <a href="{% url 'sale-detail' sale.pk %}">{{ sale.voucher_no }}</a>
                            </td>
                            <td>
                                {{ sale.date }}
                            </td>
                            <td>
                                {{ sale.total }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% paginate %}


            <a class="btn btn-success btn-raised"
               href="{% url 'sale-create' %}">{% trans 'New' %} {% trans 'Sale' %}</a>

        </div>
    </div>
{% endblock %}