{% extends "_base.html" %}
{% load staticfiles i18n filters njango_filters %}

{% block page-title %}
    {{ scenario }} {% trans 'Sale Voucher' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'sale-list' %}">{% trans 'Sale Vouchers' %}</a></li>
    <li>{{ scenario }} {% trans 'Sale Voucher' %}</li>
{% endblock %}

{% block extrahead %}
    <script src="{% static 'voucher/js/sale.js' %}"></script>
    <script>
        ko_data = {{data|jsonify}};
        voucher_settings = {{ request.company.settings|jsonify }};
        $(document).on('click', '.dropdown-menu', function (e) {
            e.stopPropagation();
        });
    </script>
    <script>
        {#    TODO @roshan see #187 https://github.com/awecode/awecounting/issues/187 #}
        {% if not request.company.settings.invoice_default_tax_scheme and request.company.settings.discount_on_each_invoice_particular or request.company.settings.invoice_default_tax_scheme and request.company.settings.discount_on_each_invoice_particular %}
            colspan = 6;
        {% else %}
            colspan = 5;
        {% endif %}
    </script>

{% endblock %}

{% block content %}

    <form method="post" data-bind="submit: save">
        {% csrf_token %}
        <div class="well">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="voucher-no">{% trans 'Voucher' %} {% trans 'No.' %}</label>
                    <input type="text" data-bind="value: voucher_no" class="form-control" id="voucher-no">
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="date">{% trans 'Date' %}</label>
                    <input type="text" data-bind="value: date" class="form-control {% calendar_class %}" id="date">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="party">{% trans 'Party' %}</label>
                    <select id="party"
                            data-bind="selectize: $root.parties, value: party_id, object: party, selectize_options:{render: {'option': render_party_options}}"
                            data-url="{% url 'party_add' %}?source=sale"></select>
                </div>

                <div class="col-md-6 col-sm-12 hidden-print" data-bind="if: party_balance">
                    <label>{% trans 'Due' %}</label>

                    <div data-bind="text: party_balance"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 col-sm-12">

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-bind="checked: credit"> {% trans 'Credit' %}
                            </label>
                        </div>
                        <p class="help-block">{% trans 'Check if this is a credit sale.' %}</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <label for="due_date">{% trans 'Due Date' %}</label>
                    <input type="text" data-bind="value: due_date, enable: credit" class="form-control {% calendar_class %}"
                           id="due_date">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="party">{% trans 'Tax' %}</label>
                    <select name="tax" class="form-control" id="tax"
                            data-bind="selectize: tax_types, optionsText: 'value', value: tax"></select>
                </div>
                <div>
                    <div class="col-md-6 col-sm-12" data-bind="visible: tax()!='no'">
                        <label for="due_date">{% trans 'Tax Scheme' %}</label>
                        <select id="tax_scheme" data-bind="selectize: $root.tax_schemes, value: tax_scheme_id, object: tax_scheme"
                                data-url="{% url 'tax_scheme_add' %}"></select>
                    </div>
                </div>
            </div>
        </div>


        <div data-bind="with: table_view" class="well">

            <table class="table table-striped">
                <thead>
                <tr>
                    {% if request.company.settings.sale_voucher_sn %}
                        <th class="{% print_view 'sale_print_sn' %}">{% trans "S.N." %}</th>
                    {% endif %}
                    <th>{% trans "Item" %}</th>
                    {% if request.company.settings.sale_voucher_code %}
                        <th class="{% print_view 'sale_print_code' %}">{% trans "Code" %}</th>
                    {% endif %}
                    {% if request.company.settings.sale_voucher_oem_number %}
                        <th class="{% print_view 'sale_print_oem_number' %}">{% trans "OEM Number" %}</th>
                    {% endif %}
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Rate" %}</th>
                    <th>{% trans "Unit" %}</th>
                    {% if request.company.settings.sale_voucher_discount %}
                        <th class="{% print_view 'sale_print_discount' %}">{% trans 'Discount' %}</th>
                    {% endif %}

                    {% if request.company.settings.sale_voucher_tax_scheme %}
                        <th class="{% print_view 'sale_print_tax_scheme' %}" data-bind="visible: $root.tax()!='no'  && !$root.tax_scheme()">{% trans "Tax Scheme" %}</th>
                    {% endif %}

                    <th>{% trans 'Location' %}</th>

                    <th>{% trans 'Total' %}</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <!-- ko foreach: rows -->
                <tr>
                    {% if request.company.settings.sale_voucher_sn %}
                    <td class="{% print_view 'sale_print_sn' %}">
                        <span data-bind="text:  $index()+1, localize: 1"> </span>
                    </td>
                    {% endif %}
                    <td>
                        <select data-url="{% url 'item_add' %}?source=sale" data-script="/static/inventory/js/item.js"
                                data-bind="selectize: $root.items, value: item_id, object: item, selectize_options:{render: {'option': render_option, 'item':render_option}}">
                        </select>
                    </td>
                    {% if request.company.settings.sale_voucher_code %}
                        <td class="{% print_view 'sale_print_code' %}" data-bind="text: code"></td>
                    {% endif %}

                    {% if request.company.settings.sale_voucher_oem_number %}
                        <td class="{% print_view 'sale_print_oem_number' %}" data-bind="text: oem_number"></td>
                    {% endif %}
                    <td data-bind="editableText: quantity, numeric: true"></td>
                    <td data-bind="editableText: rate, numeric: true"></td>
                    <td class="unit-cell">
                        <select data-bind="selectize: $root.units, value: unit_id, object:unit, selectize_options:{render: {'option': render_unit_options}}"
                                data-url="{% url 'unit_add' %}"></select>
                    </td>
                    {% if request.company.settings.sale_voucher_discount %}
                        <td class="{% print_view 'sale_print_discount' %}" data-bind="editableText: discount, percentage_numeric: true"></td>
                    {% endif %}
                    {% if request.company.settings.sale_voucher_tax_scheme %}
                    <td class="{% print_view 'sale_print_tax_scheme' %}" data-bind="visible: $root.tax()!='no'  && !$root.tax_scheme()">
                        <select id="tax_scheme" data-bind="selectize: $root.tax_schemes, value: tax_scheme_id, object: tax_scheme"
                                data-url="{% url 'tax_scheme_add' %}"></select>
                    </td>
                    {% endif %}

                    <td data-bind="css: { 'danger': sale_row_location_error()}">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true"
                                    data-bind="attr: { id: 'row-location-' + $index() }">
                                Select From Location
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" data-bind="attr: { 'aria-labelledby': 'row-location-' + $index() }">
                                <table class="table table-striped">
                                    <tr>
                                        <th>Location Name</th>
                                        <th>Available Quantity</th>
                                        <th>Required Quantity</th>
                                    </tr>
                                    <!-- ko foreach: sale_row_locations -->
                                    <tr>
                                        <td data-bind="text: location_name"></td>
                                        <td data-bind="text: qty"></td>
                                        <td data-bind="editableText: selected_qty, numeric: true "></td>
                                    </tr>
                                    <!-- /ko -->
                                    <!-- ko if: sale_row_location_error -->
                                    <tr class="danger">
                                        <td colspan="100%" data-bind='text: sale_row_location_error'></td>
                                    </tr>
                                    <!-- /ko -->
                                </table>
                            </div>
                        </div>
                    </td>

                    <td data-bind="text: total"></td>
                    <td class="hide-on-print text-center">
                        <a href="#" class="red fa fa-trash-o fa-2x" data-bind="click: $parent.removeRow"></a>
                    </td>
                </tr>

                <!-- /ko -->
                <tr class="sub-total total">
                    <td colspan="9">
                        {% trans 'Sub Total' %}
                    </td>
                    <td colspan="2" data-bind="text: $root.sub_total(), localize: 2"></td>

                </tr>
                {% if request.company.settings.discount_on_each_invoice_particular %}
                    <tr class="discount-total total">
                        <td colspan="9">
                            {% trans 'Discounted Amount' %}
                        </td>
                        <td colspan="2" data-bind="text: $root.total_discount(), localize: 2"></td>
                    </tr>
                {% endif %}
                {% if request.company.settings.single_discount_on_whole_invoice %}
                    <tr class="discount-total total">
                        <td colspan="9">
                            {% trans 'Discount' %}
                        </td>
                        <td colspan="2"
                            data-bind="editableText: $root.voucher_discount, percentage_numeric: true, localize: 2"></td>
                    </tr>
                {% endif %}
                <!-- ko if: $root.tax()!='no' -->
                <tr class="taxable-amount total">
                    <td colspan="9">
                        {% trans 'Taxable Amount' %}
                    </td>
                    <td colspan="2" data-bind="text: $root.taxable_amount(), localize: 2"></td>
                </tr>
                <tr class="tax-total total">
                    <td colspan="9">
                        {% trans 'Tax Amount' %}
                    </td>
                    <td colspan="2" data-bind="text: $root.tax_amount(), localize: 2"></td>
                </tr>
                <!-- /ko -->
                <tr class="grand-total total">
                    <td colspan="9">
                        {% trans 'Grand Total' %}
                    </td>
                    <td colspan="2" data-bind="text: $root.grand_total(), localize: 2"></td>

                </tr>
                </tbody>

            </table>
            <a class="btn btn-default btn-raised" data-bind="click: addRow">
                {% trans 'Add New Row' %}
            </a>
        </div>
        <input type="submit" class="btn btn-raised btn-info" value="{% trans 'Save' %}">
        {% if scenario == 'Update' %}
            <a class="btn btn-danger btn-raised" href="{% url 'sale_delete' obj.id %}">{% trans 'Delete!' %}</a>
        {% endif %}
    </form>


{% endblock %}