{% extends "_base.html" %}
{% load i18n staticfiles %}

{% block page-title %}{{ scenario }} {{ form.instance }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'share:investment_list' %}">{% trans 'Investments' %}</a></li>
    <li>{{ scenario }} {{ form.instance }}</li>
{% endblock %}


{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/datepicker3.css' %}">
    <script src="{% static 'js/libs/bootstrap-datepicker.js' %}"></script>
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.as_p }}

        <input type="submit" class='btn btn-default' value="{% trans 'Save' %}">

        {% if form.instance.id %}
            <a href="{% url 'share:investment_delete' form.instance.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
        {% endif %}
    </form>

{% endblock %}

{% block extrabody %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}